:root{
    --blue-color:#007bff;
    --red-color:#dc3545;
    --green-color:#28a745;
    --dark-color:#343a40;
    --yellow-color:#ffc107;
    --info-color:#17a2b8;
    --grey-color:#6c757d;
    --white-color:#ffffff;
    --black-color:#000000;
    --border-color:#D3D3D3;

    --md-btn-padding: 1rem 4rem;
    --md-btn-font: 1.2rem;
    --lg-btn-padding: 1.5rem 7rem;
    --lg-btn-font: 1.5rem;
}


/* Text */

/* Sizes */
.text-sm{
    font-size: 1rem;
}
.text-md{
    font-size: 1.5rem;
}
.text-lg{
    font-size: 3rem;
}
.text-xl{
    font-size: 4rem;
}

.text-bold{
    font-weight: bold;
}
.text-italic{
    font-style: italic;
}

/* Colors */

.text-white{
    color: var(--white-color);
}

.text-blue{
    color: var(--blue-color);
}
.text-red{
    color: var(--red-color);
}
.text-green{
    color: var(--green-color);
}
.text-black{
    color: var(--black-color);
}
.text-yellow{
    color: var(--yellow-color);
}

/* Alignment */

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

/* Transormation */
.text-upper{
    text-transform: uppercase;
}
.text-lower{
    text-transform: lowercase;
}
.text-capital{
    text-transform: capitalize;
}


/* Padding */
.p-1{
    padding: 1rem;
}

.p-2{
    padding: 1.7rem;
}

.p-3{
    padding: 2.5rem;
}
/* Y-axis */

.py-1{
    padding: 1rem 0;
}

.py-2{
    padding: 2.5rem 0;
}

.py-3{
    padding: 3rem 0;
}
/* x Axis */
.px-1{
    padding: 0 1rem;
}

.px-2{
    padding: 0 2.5rem;
}

.px-3{
    padding: 0 3rem;
}

/* Margin */
.m-1{
    margin: 1rem;
}

.m-2{
    margin: 1.7rem;
}

.m-3{
    margin: 2.5rem;
}

/* Y-axis */

.my-1{
    margin: 1rem 0;
}

.my-2{
    margin: 2.5rem 0;
}

.my-3{
    margin: 3rem 0;
}

/* x Axis */

.mx-1{
    margin: 0 1rem;
}

.mx-2{
    margin: 0 2.5rem;
}

.mx-3{
    margin: 0 3rem;
}

/* Background */
.bg-white{
    background-color: var(--white-color);;
}

.bg-blue{
    background-color: var(--blue-color);;
}
.bg-red{
    background-color: var(--red-color);;
}
.bg-green{
    background-color: var(--green-color);;
}
.bg-black{
    background-color: var(--black-color);
}
.bg-yellow{
    background-color:var(--yellow-color);;
}
.bg-dark{
    background-color: #333;
}

/* Floating */

.float-left{
    float: left;
}
.float-right{
    float: right;
}
.float-center{
    float: center;
}
.float-none{
    float: none;
}


/* Images */

.img-primary{
    width: 100%;
    height: auto;
}

.img-thumbnail{
    height: 200px;
    width: 200px;
}

.img-circle{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

/* Border */
.border-solid-white{
    border: 1px solid var(--white-color);;
}
.border-solid-black{
    border: 1px solid var(--black-color);;
}
.border-solid-red{
    border: 1px solid var(--red-color);;
}
.border-solid-dark{
    border: 1px solid #333;
}

.btn{
    display: inline-block;
    margin: 10px;
    padding: 0.7rem 2rem;
    text-decoration: none;
    border: 1px solid var(--black-color);
    text-align: center;
    color: var(--black-color);
    border-radius: 5px;
    transition: all 0.8s;
}

.btn:hover{
    cursor: pointer;
    opacity: 0.7;
}

.btn-dark{
    background-color: #333;
    border: none;
    color: var(--white-color);
}
.btn-red{
    background-color: var(--red-color);
    border: none;
    color: var(--white-color);
}
.btn-blue{
    background-color: var(--blue-color);
    border: none;
    color: var(--white-color);
}
.btn-orange{
    background-color: orange;
    border: none;
    color: var(--white-color);
}
.btn-green{
    background-color: var(--green-color);
    border: none;
    color: var(--white-color);
}

.btn-md{
    padding: 1rem 4rem;
    font-size: 1.2rem;
}

.btn-lg{
    padding: 1.5rem 7rem;
    font-size: 1.5rem;
}

.btn-full{
    width: 98%;
    margin: 0.5rem;
}

.card{
    width: 18rem;
    border: 1px solid var(--border-color);
    display: grid;
    border-radius: 3px;
}
.card .card-img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card .card-content > h3, p{
    padding-left: 0.8rem;
}